[Unit]
Description=Mi Daemon en Python
After=network.target

[Service]
Type=simple

User=marcos
WorkingDirectory=/home/marcos/Documents/Daemon

ExecStart=/usr/bin/python3 /home/marcos/Documents/Daemon/led-blinker.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target